<table>
  <tr>
    <td>Medium</td>
    <td>Account</td>
    <td>Cookie</td>
    <td>Last used</td>
  </tr>
  <tr>
    <td><%=@agent.agent_type%></td>
    <td><%=@agent.username %></td>
    <td><%=@agent.cookie %></td>
  </tr>
</table>
