<div class="col-xs-12">
  <%=link_to wolves_path do %>Wolves<% end %>
    -
  <%=link_to agents_path do %>Agents<% end %>
    -
  <%=link_to tasks_path do %>Tasks<% end %>
    -
  <%=link_to tickets_path do %>Tickets<% end %>
</div>
<br/>
<br/>

